.area, .interest {
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
	padding: 10% 20%;
	background-color: #F8F8F8;
}

.go {
	width: 64% !important;
	margin: auto;
}

.area h3, .interest h3 {
	padding-top: 10px;
	text-align: center;
}

.comment-box {
	margin-top: 30px;
}

.view-details {
	float: right;
}

.event-details img {
	width: 100%;
	height: 250px;
	margin-bottom: 16px;
	padding: 2px;
	background-color: #E7E7E7;
}

.comment {
	margin: 20px auto;
}

.comment-box {
	margin-top: 0px;
}

.commentLabel {
	margin-bottom: 0px;
}

.thumbnail img {
	/*width: 60px;
	height: 75px;*/
	width: 100%;
	height: 100%;
}

.congratulation {
	width: 100%;
	height: 260px;
	padding: 20px 40px;
	background-color: #F8F8F8;
}

.congratulation h3 {
	line-height: 40px;
}

table, th, tr {
	text-align: center;
}

.reply {
	margin-left: 30px;
}
